@import "../../Styles/mixins";

.card-wrapper {
  @include color-cards;
}

.color-window {
  height: 100%;
  width: 100%;
}

.hex-code-value {
  margin: 0.25em;
}

.rgb-value {
  margin: 0.25em;
}

.color-input {
  border-style: none none solid none;
  align-self: center;
  margin-bottom: 1em;
  outline: none;
}

.color-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.hidden {
  visibility: hidden;
}
